@charset "utf-8";

/******************************************************************************
 * colors blue
 ******************************************************************************/

body {
	color: #666;
}

h1 {
	color: #478E94;
	background-color: #E6F2F2;
	border-color: #EAF2D9;
}

h2, h3, h4, h5, h6 {
	color: #478E94;
	border-color: #478E94;
}

table, th, td {
	border-color: #9ECED2;
}

th {
	color: #478E94;
	background-color: #F1F7F5;
}

blockquote {
	color: #888;
	background-color: #F1F7F5;
}

code {
	color: #333;
	border-color: #51A4AA;
	background-color: #FBFFFD;
}

pre {
	border-color: #51A4AA;
	background-color: #FBFFFD;
}

a {
	color: #478E94;
}

div.footnote {
    color: #666;
	border-color: #888;
}
