@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 90%;
	line-height: 1.4;
	word-wrap: 	break-word;
	margin: 1em 2em 200px 2em;
}

h1 {
    font-size: 160%;
	font-weight: bold;
	line-height: 1.2;
	margin: 1.2em -0.5em;
	padding: 5px;
	border-width: 3px 0;
	border-style: solid;
}

h1:before {
	content:"■ ";
}

h2 {
    font-size: 140%;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.2em -0.5em;
	padding: 0 5px;
	border-width: 0 0 1px 0;
	border-style: solid;
}

h3, h4, h5, h6 {
    font-weight: bold;
	margin: 0.7em -0.5em;
	padding: 0 5px;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 100%;
}

h6 {
    font-size: 100%;
    font-weight: normal;
}

p {
    margin: 0.5em 0;
}

ul, ol {
    margin-left: 2em;
	margin-left: 2em;
}

li {
	margin: 0.5em 0;
}

dl {
	margin-left: 1em;
}

dt {
	font-weight: bold;
	margin-left: 1em;
	padding: 3px;
}

dd {
	margin-bottom: 1em;
	margin-left: 3em;
}

table, th, td {
	border: 1px solid;
}

table {
    border-collapse: collapse;
    margin: 1em 0.5em;
}

th, td {
	font-size: 100%;
	text-align: left;
	padding: 5px;
}

blockquote {
	margin: 10px;
	padding: 0.5em 0.8em;
	overflow: auto;
	border: 0 solid #ccc;
	border-width: 0 0 0 4px;
}

blockquote p {
    margin: 0;
}

pre, code {
    font-family: "Consolas", "Courier New", "lucida console", monospace;
}

pre {
	line-height: 1.3;
	font-size: 92%;
	margin: 10px;
	padding: 6px;
	border: 1px solid;
	border-radius: 4px;
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

code {
	border: 1px solid #ccc;
	padding: 1px 2px;
	margin: 0 2px;
}

pre code {
	background-color: transparent;
	border: 0 none #000;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

/***/

body {
	color: #555;
}

h1 {
	background-color: #fcfcfc;
	border-color: #ddd;
}

h2, h3, h4, h5, h6 {
	border-color: #ddd;
}

table, th, td {
	border-color: #999;
}

th {
	background-color: #fcfcfc;
}

blockquote {
	color: #888;
	background-color: #fcfcfc;
	border-color: #ddd;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
	color: #666;
}

pre {
	color: #444;
	border-color: #999;
	background-color: #fefefe;
}

a {
	color: #66f;
}
